html {
  color: #fff;
  background-color: #495562;
  font-family: Georgia, serif;
}

.btn-ghost {
  color: #fff;
  border-color: #97a49b;
}

.btn-ghost:hover {
  background-color: #efefef;
  color: #97a49b;
}

.banner {
  background-image: linear-gradient(to bottom, rgba(73, 85, 98, 0), rgba(73, 85, 98, .9));
}

@media only screen and (min-width: 60em) {

  .right {
    text-align: right;
  }

  .height {
    max-height: 500px;
    overflow: hidden;
    position: relative;
  }

  .banner {
    position: absolute;
    bottom: 0;
  }

}
